workflows/daily_summary.json
{
  "name": "Penantia \u2014 Daily 8am Summary",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-health",
      "name": "Get Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        200
      ],
      "parameters": {
        "url": "https://penantiaglobal-ai-backend.hf.space/health",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-status",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        400
      ],
      "parameters": {
        "url": "https://penantiaglobal-ai-backend.hf.space/self-heal/status",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        700,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      }
    },
    {
      "id": "node-tg",
      "name": "Send Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        930,
        300
      ],
      "parameters": {
        "url": "https://api.telegram.org/bot8671396088:AAEbr2WcPKPHuyOwknC0O5XaeZjuY66xiAA/sendMessage",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{\"chat_id\": 148289049, \"text\": \"Penantia Daily\\nVersion: {{ $('Get Health').item.json.version || '?' }}\\nMemory: {{ $('Get Health').item.json.memory_ready || '?' }}\\nHeals: {{ $('Get Status').item.json.recent_heals ? $('Get Status').item.json.recent_heals.length : 0 }}\"}"
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}